html {
    --bs-border-radius: 0%
}

.mainContainer {
    margin-top: 5rem;
    text-align: center;
}

.card {
    background-color: antiquewhite;
}

.fill {
    padding: 0%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   height: 50vh;
   
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
}

h5 {
    padding-top: 1rem;
    color: rgb(188, 179, 241);
}

p {
    text-align: center;
    color:mediumslateblue;
}

h1 {
    padding: 1rem;
    color:rgb(87, 75, 162)
}

.badge {
    background-color: rgb(188, 179, 241);
}
